# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata

# Build
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
Podfile.lock

# SPM
.swiftpm/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# User settings
xcuserdata/
*.xcuserstate

# macOS
.DS_Store

# Swift Package Manager
.build/
